.wrapper{
  display:flex;
  justify-content: center;
  gap: 10px;
  padding: 200px;
}
.wrapper button{
  border:none;
  outline:none;
  padding: 10px 15px;
  font: 22px;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled{
  opacity: 0.6;
}

button.plus{
    background-color:blue 
}
button.minus{
  background-color: red;
}